@tailwind base;
@tailwind components;
@tailwind utilities;

/* shadcn CSS 변수는 layout.tsx에서 import됨 */

html {
  /* scroll 부드럽게 처리*/
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* 스크롤로 이동시 상방 마진 줌 */
  scroll-margin-top: 50px; /* or 원하는 값 */
}

body {
  @apply bg-white  dark:bg-neutral-900;
  font-family: Arial, Helvetica, sans-serif;
  /* 내부 텍스트 요소들  */
  @apply text-gray-900 text-base dark:text-gray-100 leading-[1.5];

  * {
    background-color: transparent;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* h1 ~ h6 fonrt preset  */
@layer components {
  h1 {
    /* 36px */
    @apply text-4xl font-bold text-gray-900 dark:text-gray-50 leading-[1.25];
  }
  h2 {
    /* 30px */
    @apply text-3xl font-semibold text-gray-800 dark:text-gray-100 leading-[1.3];
  }
  h3 {
    /* 24px */
    @apply text-2xl font-semibold text-gray-700 dark:text-gray-200 leading-[1.4];
  }
  h4 {
    /* 20px */
    @apply text-xl font-medium text-gray-600 dark:text-gray-300 leading-[1.5];
  }
  h5 {
    /* 18px */
    @apply text-lg font-medium text-gray-500 dark:text-gray-400 leading-[1.5];
  }
  h6 {
    /* 16px */
    @apply text-base font-normal text-gray-400 dark:text-gray-500 leading-[1.5];
  }

  p {
    @apply text-base text-gray-900  dark:text-gray-100 leading-[1.5];
  }
  ul {
    @apply list-disc list-inside;
  }
  ol {
    @apply list-decimal list-inside;
  }
}

/* 코드블락 */
pre {
  overflow-x: auto;
  padding: 1rem 0;
  border-radius: 8px;
  font-size: 14px;
}

pre [data-line] {
  padding: 0 1rem;
}

/* 
참고용!
Breakpoint prefix	Minimum width	CSS
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }
*/

/* toc contents css 처리 */
@layer components {
  .toc-container {
    @apply hidden lg:block p-[20px] w-[250px] sticky top-[150px];
  }
  nav.toc {
    @apply bg-transparent text-[14px];
  }
  nav.toc ul {
    @apply list-none list-inside  text-gray-700 dark:text-gray-300;
  }
  nav.toc .toc-level {
    @apply ml-[10px];
  }
  nav.toc .toc-level.toc-level-1 {
    @apply ml-[2px];
  }
  nav.toc li {
    @apply list-none;
  }
  nav.toc li a {
    @apply hover:text-blue-600 dark:hover:text-blue-400 inline-block py-[2px];
    /* @apply border-b border-gray-200 dark:border-neutral-700; */
  }
}

/* inline code block style */
.prose :not(pre) > code::before,
.prose :not(pre) > code::after {
  display: none;
}

/* inline code block style */
.prose :not(pre) > code {
  background: rgba(135, 131, 120, 0.15) !important;
  padding: 0.2em 0.4em !important;
  line-height: normal;
  margin-right: 0.2em !important;
  display: inline-block !important;
  @apply text-blue-500 dark:text-blue-400 rounded text-[85%] align-middle;
}

.post-wrapper.prose h1 a {
  font-weight: 800;
}
.post-wrapper.prose h2 a {
  font-weight: 700;
}
.post-wrapper.prose h3 a {
  font-weight: 600;
}

pre code {
  counter-reset: line;
}

pre code > span[data-line] {
  counter-increment: line;
  display: block;
  padding-left: 2.5rem; /* 번호 공간 */
  position: relative;
}

pre code > span[data-line]::before {
  content: counter(line);
  position: absolute;
  left: 0;
  width: 1.5rem;
  text-align: right;
  color: #6b7280; /* gray */
}
